body {
  font-size: 90%;
}

md-progress-circular {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.message-center {
  text-align: center;
}

.material-icons.md-48 {
  font-size: 48px;
  height: 48px;
  width: 48px;
}

.avatar {
  height: 96px;
  border-radius: 50%;
  margin-left: 15px;
}

.md-light {
  color: white;
}

header {
  background-image: url(../images/background.png);
  background-size: cover;
  color: white;
}

.calendar {
  font-size: 80%;
}
