<h2>About Doneist</h2>
<p>
  Doneist is the app for managing tasks you have completed in Tooist.
</p>
<p>
  Todoist the greatest app for managing tasks.
</p>

<h2>What is needed to use Doneist ?</h2>
<p>
You need to have Todoist account.
And the account have to be a premium account or business account.
<br>
This app use the API limited to use for premium or business account to read completed tasks.
</p>

<h2>Start using Doneist !</h2>

Sign in Doneist via Todoist OAuth API, and start managing your job history !

<h2>If you like this app ...</h2>

If you have interested in or like this app, star on github.
