<div class="row">
  <div ng-show="project.completed_tasks.length > 0" ng-repeat="project in projects" class="col-md-4 col-sm-6 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: {{project.color}}!important">
        {{project.name}}
      </div>
      <div class="panel-body">
        <ul>
          <li ng-repeat="task in project.completed_tasks">
            {{task.content}} ({{task.completed_date}})
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
